{% extends "layout/master.html" %}

{% load staticfiles %}

{% block title %}
	JMS
{% endblock %}

{% block favicon %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">
{% endblock %}


{% block css %}
	
	<!-- BOOTSTRAP STYLES-->
	<link href="{{ STATIC_URL }}lib/bootstrap/binary/css/bootstrap.css" rel="stylesheet" />
	
	<!-- FONTAWESOME STYLES-->
	<link href="{{ STATIC_URL }}lib/bootstrap/binary/css/font-awesome.css" rel="stylesheet" />
	
	<!-- CUSTOM STYLES-->
	<link href="{{ STATIC_URL }}lib/bootstrap/binary/css/custom.css" rel="stylesheet" />
	
	<!-- MORRIS CHART STYLES-->
	<link href="{{ STATIC_URL }}lib/bootstrap/binary/js/charts/morris/morris-0.4.3.min.css" rel="stylesheet" />
		
	<!-- GOOGLE FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	
{% endblock %}


{% block page_title %}
	JMS
{% endblock %}


{% block sidebar %}			
					
	<li id="dashboard-menu-item">
		<a href="/"><i class="fa fa-dashboard fa-2x"></i> Dashboard</a>
	</li>
					                   
    <li id="tool-menu-item">
    	<a href="/tools"><i class="fa fa-wrench fa-2x"></i> Tools</a>
	</li>
					                   
    <li id="workflow-menu-item">
    	<a href="/workflows"><i class="fa fa-sitemap fa-2x"></i> Workflows</a>
	</li>				
					
	<li id="job-menu-item" >
		<a href="/jobs"><i class="fa fa-tasks fa-2x"></i> Job History</a>
	</li>			
					
	<!--li id="reports-menu-item">
		<a href="/settings"><i class="fa fa-file fa-2x"></i> Reports</a>
	</li-->		
					
	<li id="settings-menu-item">
		<a href="/settings"><i class="fa fa-gear fa-2x"></i> Cluster Management</a>
	</li>	
	
{% endblock %}


{% block content %}
	
{% endblock %}



{% block scripts %}	
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script src="{{ STATIC_URL }}lib/bootstrap/binary/js/jquery-1.10.2.js"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script src="{{ STATIC_URL }}lib/bootstrap/binary/js/bootstrap.min.js"></script>
	<!-- METISMENU SCRIPTS -->
	<script src="{{ STATIC_URL }}lib/bootstrap/binary/js/jquery.metisMenu.js"></script>
	<!-- KNOCKOUT SCRIPTS -->
	<script src="{{ STATIC_URL }}lib/knockout-3.0.0.js"></script>
	<!-- MORRIS CHART SCRIPTS -->
	<script src="{{ STATIC_URL }}lib/charts/morris/raphael-2.1.0.min.js"></script>
	<script src="{{ STATIC_URL }}lib/charts/morris/morris.js"></script>
	<!-- CUSTOM SCRIPTS -->
	<script src="{{ STATIC_URL }}lib/custom/JMS/custom.js"></script>
	<script src="{{ STATIC_URL }}lib/custom/JMS/dashboard.js"></script>
	<script src="{{ STATIC_URL }}lib/custom/JMS/workflow.js"></script>
{% endblock %}


