{% extends "custom/JMS/master.html" %}

{% block css %}
	 
	
	<!-- BOOTSTRAP STYLES -->
	<link href="{{ STATIC_URL }}lib/bootstrap/binary/css/bootstrap.css" rel="stylesheet" />
	
	<!-- FONTAWESOME STYLES -->
	<link href="{{ STATIC_URL }}lib/bootstrap/binary/css/font-awesome.css" rel="stylesheet" />
	
	<!-- CUSTOM STYLES -->
	<link href="{{ STATIC_URL }}lib/bootstrap/binary/css/custom.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}lib/bootstrap/binary/css/stavatech.css" rel="stylesheet" />
		
	<!-- GOOGLE FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    
    <style type="text/css" media="screen">
        #editor { 
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
    
{% endblock %}

{% block content %}	
    <div class="modal fade" id="question-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>
    
	<div id="workflows" class="page-wrapper" >
	    
	    <!-- submit-dialog -->
	    <div class="modal fade" id="submit-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				    <div class="modal-body">
				    	<div style="text-align:center">
				    		<div style="height:130px;" data-bind="visible: $root.submitting()">
								<img src="{{ STATIC_URL }}img/big_red_loader.gif" style="height:100px;" /> <br/>
								<img src="{{ STATIC_URL }}img/text_loader.gif" style="height: 30px;"/> <br/>
							</div>
							
				    		<div style="height:130px;" data-bind="visible: $root.submitting() == false && $root.submit_success() == true">
								<img src="{{ STATIC_URL }}img/success.png" style="height:100px;" /> <br/>
								<img src="{{ STATIC_URL }}img/job_started.gif" style="height: 30px;"/> <br/>
							</div>
							
				    		<div style="height:130px;" data-bind="visible: $root.submitting() == false && $root.submit_success() == false">
								<img src="{{ STATIC_URL }}img/error.png" style="height:100px;" /> <br/>
								<img src="{{ STATIC_URL }}img/job_failed.gif" style="height: 30px;"/> <br/>
							</div>
						</div>
				   	</div>
				  	<div class="modal-footer" data-bind="visible: $root.submitting() == false">
				  		<span data-bind="if: $root.submit_success()">
				       		<a class="btn btn-default" data-bind="attr: { href: '/jobs/#' + $root.job_id() }">Go to job</a>
				       	</span>
				       	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
		   	</div>
	 	</div>
	    
	    <!-- loading modal -->
	    <div class="modal fade" id="loading-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				    <div class="modal-body" style="overflow:hidden;">
				        <div style="text-align: center;">
	                        <img src="{{ STATIC_URL }}img/big_red_loader.gif" style="height:100px"> <br>
	                        <img src="{{ STATIC_URL }}img/text_loader.gif" style="height:30px"> <br>
                        </div>
				    </div>
				</div>
		   	</div>
	 	</div>
	 	
	 	
	 	<!-- add workflow modal -->
	    <div class="modal fade" id="workflow-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-bind="with: $root.Workflow">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
				    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				     	<h4 class="modal-title">Add Workflow:</h4>
				  	</div>
				    <div class="modal-body" style="overflow:hidden;">
				        <div data-bind="visible: $root.creating_workflow() == false">
				            <div class="form-group">
				                <label>Workflow name</label>
				                <input class="form-control" data-bind="value: WorkflowName" />
				            </div>
				            
				            <div class="form-group">
				                <label>Category</label>
				                <select class="form-control" data-bind="value: Category, options: $root.Categories, 
				                    optionsText: function(item) { return item.CategoryName(); },
				                    optionsValue: function(item) { return item.CategoryID(); }" >
				                </select>
				                
				                <div style="width:100%;text-align:right;">
				                    <a href="#" data-bind="click: $root.ShowAddCategory"><i class="fa fa-plus"></i> Add new category...</a>
				                </div>
				            </div>
				            
				            <div class="form-group">
				                <label>Description (max length: 100 characters)</label>
				                <textarea class="form-control" data-bind="value: Description"></textarea>
				            </div>
				        </div>
				        
				        <div id="add-workflow-error"></div>
				        
				        <div style="text-align: center;" data-bind="visible: $root.creating_workflow">
	                        <img src="{{ STATIC_URL }}img/big_red_loader.gif" style="height:100px"> <br>
	                        <img src="{{ STATIC_URL }}img/text_loader.gif" style="height:30px"> <br>
                        </div>
				    </div>
				    <div class="modal-footer" data-bind="visible: $root.creating_workflow() == false">
				       	<button type="button" class="btn btn-success" data-bind="click: $root.AddWorkflow"><i class="fa fa-plus"></i> Add Workflow</button>
				       	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
		   	</div>
	 	</div>
	 	
	 	
	 	<!-- add category modal -->
	    <div class="modal fade" id="add-category-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
				    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				     	<h4 class="modal-title">Add Category:</h4>
				  	</div>
				    <div class="modal-body" style="overflow:hidden;">
				        <div data-bind="visible: $root.creating_category() == false">
				            <div class="form-group">
				                <label>Category name</label>
				                <input class="form-control" data-bind="value: $root.new_category_name" />
				            </div>
				        </div>
				        
				        <div id="add-category-error"></div>
				        
				        <div style="text-align: center;" data-bind="visible: $root.creating_category">
	                        <img src="{{ STATIC_URL }}img/big_red_loader.gif" style="height:100px"> <br>
	                        <img src="{{ STATIC_URL }}img/text_loader.gif" style="height:30px"> <br>
                        </div>
				    </div>
				    <div class="modal-footer" data-bind="visible: $root.creating_category() == false">
				       	<button type="button" class="btn btn-success" data-bind="click: $root.AddCategory"><i class="fa fa-plus"></i> Add Category</button>
				       	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
		   	</div>
	 	</div>
	 	
	 	<!-- edit category modal -->
	    <div class="modal fade" id="edit-category-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-bind="with: $root.Category">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
				    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				     	<h4 class="modal-title">Edit Category:</h4>
				  	</div>
				    <div class="modal-body" style="overflow:hidden;">
				        <div data-bind="visible: $root.creating_category() == false">
				            <div class="form-group">
				                <label>Category name</label>
				                <input class="form-control" data-bind="value: $root.new_category_name" />
				            </div>
				            
				            <div id="edit-category-error"></div>
				        </div>
				        
				        <div style="text-align: center;" data-bind="visible: $root.creating_category">
	                        <img src="{{ STATIC_URL }}img/big_red_loader.gif" style="height:100px"> <br>
	                        <img src="{{ STATIC_URL }}img/text_loader.gif" style="height:30px"> <br>
                        </div>
				    </div>
				    <div class="modal-footer" data-bind="visible: $root.creating_category() == false">
				       	<button type="button" class="btn btn-info" data-bind="click: $root.UpdateCategory"><i class="fa fa-save"></i> Save</button>
				       	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
		   	</div>
	 	</div>
	 	
	 	<!-- publish modal -->
	    <div class="modal fade" id="publish-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
				    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				     	<h4 class="modal-title">Publish workflow:</h4>
				  	</div>
				    <div class="modal-body" style="overflow:hidden;">
				        <div class="col-lg-12">
				            <div class="col-lg-12">
				                Make sure that have saved the tool, before you publish.<br/><br/>
				            </div>
				            
				            <div class="col-lg-4" style="text-align:center">
        				        <label>Major Release</label>
    							<input class="form-control" type="number" data-bind="value: $root.major"/>
			                </div>
			                
				            <div class="col-lg-4" style="text-align:center">
        				        <label>Minor Release</label>
    							<input class="form-control" type="number" data-bind="value: $root.minor"/>
                            </div>
                            
				            <div class="col-lg-4" style="text-align:center">
        				        <label>Patch Release</label>
    							<input class="form-control" type="number" data-bind="value: $root.patch"/>
    		                </div>
    							
                		</div>
				    </div>
				    <div class="modal-footer">
				       	<button type="button" class="btn btn-success" data-bind="click: $root.PublishVersion"><i class="fa fa-plus"></i> Publish</button>
				       	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
		   	</div>
	 	</div>
	 	
	 	
	 	<!-- permissions modal -->
	    <div class="modal fade" id="permissions-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" data-bind="with: $root.Workflow">
					<div class="modal-header">
				    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				     	<h4 class="modal-title">Share Workflow: <span data-bind='text: WorkflowName'></span></h4>
				  	</div>
				    <div class="modal-body" style="overflow:hidden;">
				        <div data-bind="visible: $root.loading_perms() == false">
				            <div class="form-group">
				                <label>Workflow Owner</label><br/>
				                <span data-bind="text: User().Username"></span>
				            </div>
    			                
				            <div class="form-group">
        							<input type="checkbox" data-bind="checked: $root.Workflow().PublicInd, event: { change: $root.UpdateWorkflowAvailability }"/>
            				        <label>Make publically available?</label><br/>
            				        <span class="col-lg-12" style="font-size:8pt;padding:0px;padding-bottom:10px;">												
										Publically available workflows can be <strong>run</strong> by anyone on the system.
									</span>
                            </div>
				            
				            <div class="form-group">
				                <div id="table-responsive" style="overflow-y:auto; padding:15px;padding-bottom:15px;">
								    <div style="width:100%">
								        <label>
								            User Permissions
								        </label>
									    <br>
                				        <span style="font-size:8pt;padding:0px;padding-bottom:10px;">												
        									Please note that for a user to run a workflow successfully, the user should also have permission to run all the tools that make
        									up that workflow.
        								</span>
								        <hr class="st-hr"/>
    									<div>
    									    <table class="table table-striped table-hover" style="text-align:center">
    											<thead>
    											 	<tr>
    											 		<th style="text-align:center">User</th>
    											 		<th style="text-align:center">Run</th>
    											 		<th style="text-align:center">Export</th>
    											 		<th style="text-align:center">Edit</th>
    											 		<th style="text-align:center">Publish</th>
    											 		<th style="text-align:center">Admin</th>
    											 		<th style="text-align:center"></th>
    											 	</tr>
    											</thead>
    											<!-- ko if: UserWorkflowPermissions().length > 0 -->
    											<tbody data-bind="foreach: UserWorkflowPermissions" style="padding-bottom:40px;">
    												<tr>
    												    <td data-bind="text: User().Username"></td>
    												    <td>
    												        <!-- ko if: Run() == true -->
    												            <i class="fa fa-check-square-o"></i> 
    												        <!-- /ko -->
    												        <!-- ko if: Run() == false -->
    												            <i class="fa fa-times"></i> 
    												        <!-- /ko -->
    												    </td>
    												    <td>
    												        <!-- ko if: Export() == true -->
    												            <i class="fa fa-check-square-o"></i> 
    												        <!-- /ko -->
    												        <!-- ko if: Export() == false -->
    												            <i class="fa fa-times"></i> 
    												        <!-- /ko -->
    												    </td>
    												    <td>
    												        <!-- ko if: Edit() == true -->
    												            <i class="fa fa-check-square-o"></i> 
    												        <!-- /ko -->
    												        <!-- ko if: Edit() == false -->
    												            <i class="fa fa-times"></i> 
    												        <!-- /ko -->
    												    </td>
    												    <td>
    												        <!-- ko if: Publish() == true -->
    												            <i class="fa fa-check-square-o"></i> 
    												        <!-- /ko -->
    												        <!-- ko if: Publish() == false -->
    												            <i class="fa fa-times"></i> 
    												        <!-- /ko -->
    												    </td>
    												    <td>
    												        <!-- ko if: Admin() == true -->
    												            <i class="fa fa-check-square-o"></i> 
    												        <!-- /ko -->
    												        <!-- ko if: Admin() == false -->
    												            <i class="fa fa-times"></i> 
    												        <!-- /ko -->
    												    </td>
    												    <td style="text-align:center;">
    												    	<a href="#" data-bind="click: $root.EditShare" class="btn btn-warning">
    												    	    <i class="fa fa-edit"></i>
    												    	</a>
    												    	<a href="#" data-bind="click: $root.UnshareWorkflow" class="btn btn-danger">
    												    	    <i class="fa fa-trash-o"></i>
    												    	</a>
    													</td>
    												</tr>
    											</tbody>
    											<!-- /ko -->
    											<!-- ko if: UserWorkflowPermissions().length == 0 -->
    											<tbody>
    											    <tr>
    											        <td colspan="6">
    											            This workflow has not been shared with any other users.
    											        </td>
    											        <td></td>
    											    </tr>
    											</tbody>
    											<!-- /ko -->
    											<tfoot>
    											    <tr>
    											        <td colspan="6"></td>
    											        <td style="text-align:center;">
    												    	<a href="#" class="btn btn-success" data-bind="click: $root.ShowShareWorkflow">
    												    	    <i class="fa fa-plus"></i>
    												    	</a>
    													</td>
    											    </tr>
    											</tfoot>
    										</table>
    									</div>
    								</div>
    							</div>
				            </div>
				        </div>
				        
				        <div id="permissions-error"></div>
				        
				        <div style="text-align: center;" data-bind="visible: $root.loading_perms">
	                        <img src="{{ STATIC_URL }}img/big_red_loader.gif" style="height:100px"> <br>
	                        <img src="{{ STATIC_URL }}img/text_loader.gif" style="height:30px"> <br>
                        </div>
				    </div>
				    <div class="modal-footer" data-bind="visible: $root.loading_perms() == false">
				       	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
		   	</div>
	 	</div>
	 	
	 	<!-- share modal -->
	    <div class="modal fade" id="share-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
				    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				     	<h4 class="modal-title">Share tool:</h4>
				  	</div>
				    <div class="modal-body" style="overflow:hidden;">
				        <div data-bind="visible: $root.sharing() == false">
    				        <div class="col-lg-12" data-bind="with: $root.NewShare">
    			                
    				            <div class="form-group">
            				        <label>Username</label>
        							<input class="form-control" type="text" data-bind="value: User().Username"/>
                                </div>
                                
                                <label>Permissions</label>
                                <hr/>
    				            <div class="col-lg-12">
        				            <div class="form-group">
            							<input type="checkbox" data-bind="checked: Run"/>
                				        <label>Run?</label>
        			                </div>
        				            
        				            <div class="form-group">
            							<input type="checkbox" data-bind="checked: Export"/>
                				        <label>Export?</label>
        			                </div>
        				            
        				            <div class="form-group">
            							<input type="checkbox" data-bind="checked: Edit"/>
                				        <label>Edit?</label>
        			                </div>
        				            
        				            <div class="form-group">
            							<input type="checkbox" data-bind="checked: Publish"/>
                				        <label>Publish?</label>
        			                </div>
        				            
        				            <div class="form-group">
            							<input type="checkbox" data-bind="checked: Admin"/>
                				        <label>Administrate?</label>
        			                </div>
        						</div>	
                    		</div>
    				        
    				        <div id="share-error"></div>
				        </div>
				        
				        <div style="text-align: center;" data-bind="visible: $root.sharing">
	                        <img src="{{ STATIC_URL }}img/big_red_loader.gif" style="height:100px"> <br>
	                        <img src="{{ STATIC_URL }}img/text_loader.gif" style="height:30px"> <br>
                        </div>
				    </div>
				    <div class="modal-footer" data-bind="visible: $root.sharing() == false">
				       	<button type="button" class="btn btn-success" data-bind="click: $root.ShareWorkflow"><i class="fa fa-share"></i> Share</button>
				       	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
		   	</div>
	 	</div>
	 	
	 	<!-- /. END MODALS -->
	 	
	 	
    	<div class="page-inner">
    		<div style="text-align: center;display:none">
    			<img src="{{ STATIC_URL }}img/big_red_loader.gif"> <br>
    			<img src="{{ STATIC_URL }}img/text_loader.gif"> <br>
    		</div>
    	    
    		<div>
    		    <div id="workflow-list">    
    				<div class="row">
    					<div class="col-md-12">
    						<h2><i class="fa fa-sitemap"></i> Workflows</h2>
    					</div>
    				</div>
    				<!-- /. ROW  -->
    					    
    				<hr />
    			
    				<div class="row">
    					<div class="col-lg-12"> 
    						<div class="col-lg-12" style="width:100%;padding:10px;padding-top:0;">
    							<div class="btn-group" style="float:right;">
    						  		<button class="btn btn-success" data-bind="click: $root.ShowAddWorkflow" ><i class="fa fa-plus"></i> Add Workflow</button>
    						  		<button data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="caret"></span></button>
    						  		<ul class="dropdown-menu" style="text-align:left;">
    									<li>
    									    <a href="#">
    									        <i class="fa fa-download"></i> 
    									        Import Workflow
    									    </a>
    									</li>	
    									<li>
    									    <a href="#" data-bind="click: $root.ShowAddCategory">
        									    <i class="fa fa-plus"></i> 
        									    Add Category
    									    </a>
    									</li>										
    						  		</ul>
    							</div>
    						</div>
    					</div>
    				</div>
    				<!-- /. ROW -->
    				
    				<div class="row">	
						<div class="col-lg-12"> 
						    <div class="panel panel-danger">
								<div class="panel-heading" style="overflow:hidden;">
									<label>Workflows:</label>
									<div class="st-filter">
									</div>
								</div>
								<div class="panel-body" style="overflow-y:auto;padding:0px;">
								    
									<div id="table-responsive" style="overflow-y:auto; padding:15px;padding-bottom:15px;" data-bind="foreach: $root.Categories">
									    <div style="width:100%">
									        <a class="st-link-header-2" data-bind="click: $root.ToggleVisible">
									            <!-- ko if: Visible() == false -->
									                <i class="fa fa-plus-square-o"></i> 
									            <!-- /ko -->
									            
									            <!-- ko if: Visible() == true -->
									                <i class="fa fa-minus-square-o"></i> 
									            <!-- /ko -->
									            
									            <span data-bind="text: CategoryName()"></span>
									            (<span data-bind="text: Workflows().length"></span>)
									        </a>
									        <a href="#" title="Edit category" style="float:right" data-bind="click: $root.ShowUpdateCategory">
									            <i class="fa fa-edit"></i>
									        </a>
									        <hr class="st-hr"/>
        									<div data-bind="attr: { id: 'category_' + CategoryID() }" style="display:none">
        									    <table class="table table-striped table-hover" style="min-width:500px;">
        											<thead>
        											 	<tr>
        											 		<th>Workflow Name</th>
        											 		<th>Description</th>
        											 		<th style="text-align:center;">Public?</th>
        											 		<th style="text-align:center;">Latest Version</th>
        											 		<th style="width:220px;text-align:center;">Options</th>
        											 	</tr>
        											</thead>
        											<tbody data-bind="foreach: Workflows" style="padding-bottom:40px;">
        												<tr >
        												    <td data-bind="text: WorkflowName"></td>
        												    <td data-bind="text: Description"></td>
        												    <td style="text-align:center;">
        												        <!-- ko if: PublicInd() == true -->
        												            <i class="fa fa-check-square-o"></i> 
        												        <!-- /ko -->
        												        
        												        <!-- ko if: PublicInd() == false -->
        												            <i class="fa fa-times"></i> 
        												        <!-- /ko -->
        												    </td>
        												    <td style="text-align:center;" data-bind="text: WorkflowVersions()[WorkflowVersions().length-1].WorkflowVersionNum"></td>
        												    <td style="text-align:center;">
        												    	<div class="btn-group">
        													  		<a class="btn btn-danger" data-bind="attr: { href: '#run/' + WorkflowID()}"><i class="fa fa-play"></i> Run</a>
        													  		<button data-toggle="dropdown" class="btn btn-danger dropdown-toggle"><span class="caret"></span></button>
        													  		<ul class="dropdown-menu" style="text-align:left;">
        																<li><a href="#" data-bind="attr: { href: '#edit/' + WorkflowID()}"><i class="fa fa-edit"></i> Edit</a></li>
        																<li><a href="#" data-bind="click: $root.ShowWorkflowPermissions"><i class="fa fa-share-square-o"></i> Share</a></li>
        																<li><a href="#" data-bind="attr: { href: '/api/jms/workflows/' + WorkflowVersions()[0].WorkflowVersionID + '/export' } "><i class="fa fa-upload"></i> Export</a></li>
        																<li style="border-bottom:1px solid rgba(0, 0, 0, .15)"></li>
        																<li><a href="#" data-bind="click: function() { $root.DeleteWorkflow($data, $parent); }"><i class="fa fa-trash-o"></i> Delete</a></li>
        													  		</ul>
        														</div>
        												    </td>
        												</tr>
        											</tbody>
        										</table>
        									</div>
        								</div>
									</div>									
										        
									<div class="col-lg-12 panel-footer" style="padding-top:10px;background:white;">
										<label>No. of Workflows: </label> <span data-bind="text: $root.NumWorkflows"></span>
									</div>
								</div>
							</div>
						</div>
					
					</div>
					<!-- /. ROW  -->
    			</div>
    			
    			<div id="workflow-editor" style="display:none" data-bind="with: $root.WorkflowVersion">
    			    <div class="row">
						<div class="col-md-12">
							<h2><i class="fa fa-sitemap"></i> Edit: <span data-bind="text: Workflow().WorkflowName"></span></h2>
						</div>
					</div>
					<!-- /. ROW  -->
						    
					<hr />
				
					<div class="row">
						<div class="col-lg-12" style="text-align:right;padding:10px;padding-top:0;">
						    <a href="#" class="btn btn-info" style="width:100px" data-bind="click: $root.UpdateWorkflow">
								<i class="fa fa-save"></i> 
								Save
							</a>
							
							<a href="#" class="btn btn-warning" data-bind="attr: { href: '/workflows/#' }">
							    <i class="fa fa-arrow-left"></i> 
							    Back
							</a>
						</div>
					</div>
					<!-- /. ROW  -->
					
					<div id="edit-workflow-error">
					</div>
				    
				    <div class="row">
				        <div class="col-lg-12">							
						    <div role="tabpanel">
						        <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#workflow" aria-controls="workflow" role="tab" data-toggle="tab">Workflow</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#versions" aria-controls="versions" role="tab" data-toggle="tab">Versions</a>
                                    </li>  
						        </ul>
						        <div class="tab-content">
						            <div role="tabpanel" class="tab-pane fade in active" id="general">
						                <div class="col-lg-12">
                                            <h4>Workflow Details</h4>
            							    <hr/>
                                            <div class="col-lg-12">
                                            	<div class="form-group">
                                            		<label>Workflow name</label>
                                            		<input class="form-control" data-bind="value: Workflow().WorkflowName" placeholder="Enter workflow name"></input>
                                            	</div>
                                            </div>
                                            
                                            <div class="col-lg-6">
                                            	<div class="form-group">
                                            		<label>Created On</label>
                                            		<label class="form-control" data-bind="text: DatePublished"></label>
                                            	</div>
                                            </div>
                                            
                                            <div class="col-lg-6">
                                            	<div class="form-group">
                                            		<label>Category</label>
                                                    <select class="form-control" data-bind="value: Workflow().Category, options: $root.Categories, 
                                                        optionsText: function(item) { return item.CategoryName(); },
                                                        optionsValue: function(item) { return item.CategoryID(); }" >
                                                    </select>
                                            	</div>
                                            </div>
                                            
                                            <div class="col-lg-12">
                                            	<div class="form-group">
                                            		<label>Short Description (Max 100 characters)</label>
                                            		<textarea class="form-control" data-bind="value: ShortDescription" placeholder="Enter a description less than 100 characters in length"></textarea>
                                            	</div>
                                            </div>
                                            	
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                            		<label>Long Description</label>
                                            		<textarea class="form-control" data-bind="value: LongDescription" placeholder="Enter a long description"></textarea>
                                            	</div>
                                            </div>
						                </div>
						            </div>
						            <div role="tabpanel" class="tab-pane fade" id="workflow">
						                <div class="col-lg-12">
						                    
						                    <h4>Workflow Design</h4>
                                            <hr/>
                                            Edit your workflow by adding and removing tools. Create relationships by dragging between two tools.
                                            <hr/>
                                            
                                            <div class="col-lg-12">
                                                <iframe id="workflow-visualizer" style="width:100%;height:840px;border:none;" 
                                                    data-bind="attr: { src: '/workflows/visualize/#' + $root.WorkflowVersion().Workflow().WorkflowID() }">
                                                </iframe>
                                            </div>
						                    
						                </div>
						            </div>
						            <div role="tabpanel" class="tab-pane fade" id="versions">
						                <div class="col-lg-12">
						                    <h4>Version Control</h4>
                                            <hr/>
                                            Publish new versions of this workflow or revert to older versions:
                                            <hr/>
                                            <div class="col-lg-2">
                                                <div class="form-group" style="overflow:hidden">
                                                    <label>Releases</label>
                                                    <select multiple class="form-control" style="padding:0;height:230px;", data-bind="options: Workflow().WorkflowVersions,
                                                        optionsText: function(item) { return item.WorkflowVersionNum(); }, selectedOptions: $root.SelectedVersions">
                                                    </select>
                									
                                                    <a href="#" style="float:right;margin-top:5px;" class="btn btn-success" data-bind="click: $root.ShowPublishVersion">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                								</div>
                								
                                                <div id="version-tool-error" class="form-group" style="overflow:hidden">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-lg-10" data-bind="with: $root.SelectedVersion">
                                                
                                                <h4>Version: <span data-bind="text: WorkflowVersionNum"></span></h4>
                                                <hr/>
                                                
                                                <div class="col-lg-12">
                								    <div class="col-lg-12">
                        								<a href="#" style="float:right;margin-top:5px;" class="btn btn-warning" data-bind="click: $root.RevertVersion">
                                                            <i class="fa fa-mail-reply"></i> Revert
                                                        </a>
                                                        
                    									<h4>Version Details</h4>
                    									<hr/>
                                            			<div class="col-lg-12">
                            								<div class="form-group">
                            									<label>Date Published</label><br/>
                            									<span data-bind="text: DatePublished"></span>
                            								</div>
                            								
                            								<div class="form-group">
                            									<label>Short Description</label><br/>
                            									<span data-bind="text: ShortDescription"></span>
                            								</div>
                            								
                            								<div class="form-group">
                            									<label>Long Description</label><br/>
                            									<span data-bind="text: LongDescription"></span>
                            								</div>
                        								</div>
                    								</div>
                								</div>   
                                            </div>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
    			</div>
    			
    			<div id="workflow-runner" style="display:none; overflow:hidden;" data-bind="with: $root.WorkflowVersion">
					
					<div class="row">
						<div class="col-md-12">
							<h2><i class="fa fa-wrench"></i> <span data-bind="text: Workflow().WorkflowName"></span> (<span data-bind="text: WorkflowVersionNum"></span>)</h2>
							
						</div>
					</div>
					<!-- /. ROW  -->
						    
					<hr />
				
					<div class="row">
						<div class="col-lg-12" style="text-align:right;padding:10px;padding-top:0;">
							<a href="#" class="btn btn-warning" data-bind="click: $root.ShowToolList"><i class="fa fa-arrow-left"></i> Back</a>
						</div>
					</div>
					<!-- /. ROW  -->
				
					<div class="col-lg-12">
						<div class="col-lg-3" style="padding:10px;padding-top:0;float:right;">
						    <label>Select version:</label>
							<select class="form-control" data-bind="value: $root.selected_version, options: Workflow().WorkflowVersions,
						        optionsText: function(item) { return item.WorkflowVersionNum() }, 
						        optionsValue: function(item) { return item.WorkflowVersionNum() }">
						    </select>
						</div>
						<div class="col-lg-12" style="padding:10px;padding-top:0;">
						    <label>Workflow Description:</label><br/>
							<span data-bind="text: ShortDescription">
						    </span>
    				        <hr>
						</div>
					</div>
					<!-- /. ROW  -->
                    <hr/>
                    
                    <form id="workflow-form">
    					<div class="col-lg-12"> 
    					    <div class="col-lg-12" style="padding:10px;padding-top:0;">  
        					    <div class="form-group">
        						    <label>Job Name</label>
        						    <input class="form-control" data-bind="value: $root.workflow_job_name"/>
        					    </div>
        					    <div class="form-group">
        						    <label>Job Description</label>
        						    <textarea class="form-control" data-bind="value: $root.workflow_job_desc"></textarea>
    				    
    				                <hr>
        					    </div>
        					</div>
    				    </div>   
    				    
    				    <!-- ko foreach: Stages -->
    					<div class="col-lg-12" data-bind="with: ToolVersion">
    					    <!-- ko if: ToolParameters().length > 0 -->
    					        <h4 data-bind="text: Tool().ToolName"></h4>
    					    <!-- /ko -->
        					<div class="col-lg-12" data-bind="foreach: ToolParameters">
        					    <div class="col-lg-12" style="padding:10px;padding-top:0;">
        						    
        						    
        						    <div class="form-group" data-bind="if: InputBy() == 'user'">
        								<label>
        								    <span data-bind="text: ParameterName"></span>
        								</label>
        								<!-- ko if: OptionalInd -->
        								    <span style="font-size:8pt">(Optional)</span>
        								<!-- /ko -->
        								
        								<div data-bind="if: Type() == 1">
        									<div data-bind="if: Multiple() == false">												
        										<input class="form-control" data-bind="value: Value"/>
        									</div>
        									<div data-bind="if: Multiple() == true">
        										<table class="table table-responsive">
        											<tbody data-bind="foreach: value_items">
        												<tr>
        													<td>
        														<input class="form-control" data-bind="value: value"></input>
        													</td>
        													<td style="text-align:right;">
        														<a href="#" class="btn btn-danger btn-sm" data-bind="click: function() { $root.RemoveValue($parent, $data); }"><i class="fa fa-trash-o"></i></a>
        													</td>
        												</tr>
        											</tbody>
        											<tfoot>
        												<tr>
        													<td colspan='2' style="text-align:right">
        														<a href="#" class="btn btn-success btn-sm" data-bind="click: $root.AddValue"><i class="fa fa-plus"></i></a>
        													</td>
        												</tr>
        											</tfoot>
        										</table>
        									</div>
        								</div>
        								<div data-bind="if: Type() == 2">
        									<div data-bind="if: Multiple() == false">												
        										<input class="form-control" type="number" data-bind="value: Value"></input>
        									</div>
        									<div data-bind="if: Multiple() == true">
        										<table class="table table-responsive">
        											<tbody data-bind="foreach: value_items">
        												<tr>
        													<td>
        														<input class="form-control" type="number" data-bind="value: value"></input>
        													</td>
        													<td style="text-align:right;">
        														<a href="#" class="btn btn-danger btn-sm" data-bind="click: function() { $root.RemoveValue($parent, $data); }"><i class="fa fa-trash-o"></i></a>
        													</td>
        												</tr>
        											</tbody>
        											<tfoot>
        												<tr>
        													<td colspan='2' style="text-align:right">
        														<a href="#" class="btn btn-success btn-sm" data-bind="click: $root.AddValue"><i class="fa fa-plus"></i></a>
        													</td>
        												</tr>
        											</tfoot>
        										</table>
        									</div>
        								</div>
        								<div data-bind="if: Type() == 3">
        									<input type="checkbox" data-bind="checked: Value"></input>
        								</div>
        								<div data-bind="if: Type() == 4">
        									<select class="form-control" data-bind="options: ParameterOptions, optionsText: function(item) { return item.ParameterOptionText; }, 
        										optionsValue: function(item) { return item.ParameterOptionValue; }, value: Value, attr: { multiple: Multiple }, selectedOptions: selected_values"></select>
        								</div>
        								<div data-bind="if: Type() == 5">
        									<input class="form-control" type="file" data-bind="attr: { multiple: Multiple, id: 'param_' + ParameterID(), name: 'param_' + ParameterID() }"></input>
        								</div>
        								<div data-bind="if: Type() == 6">
        									<div data-bind="if: Multiple() == true">
        										<select class="form-control" multiple data-bind="options: complex_objects, optionsText: function(item) { return item.Parameter().parameters()[0].Value(); }, selectedOptions: selected_parameters">
        										</select>
        										<div class='col-lg-12' style='text-align:right;'>
        											<a href="#" class="btn btn-danger btn-sm" data-bind="click: $root.DeleteComplexObject" style='margin-top:5px;'><i class="fa fa-trash-o"></i></a>
        											<a href="#" class="btn btn-warning btn-sm" data-bind="click: $root.EditComplexObject" style='margin-top:5px;'><i class="fa fa-edit"></i></a>
        											<a href="#" class="btn btn-success btn-sm" data-bind="click: $root.AddComplexObject" style='margin-top:5px;'><i class="fa fa-plus"></i></a>
        										</div>
        									</div>
        									<div data-bind="if: Multiple() == false">
        										<!-- ko template: { name: 'complex-object-input' } -->
        										<!-- /ko --> 
        									</div>
        								</div>										
        							</div>
        						</div>
        				    </div>
        				</div>
        				<!-- /ko -->
				    </form>
				    
				    <hr/>
				    
				    <div class="col-lg-12" style="text-align:right;padding-right:10px;padding-bottom:10px;">
						<div class="btn-group" style="margin-right:25px;">
							<a href="#" class="btn btn-success" data-bind="click: $root.RunWorkflow"><i class="fa fa-play"></i> Run Job</a>
							<button data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="caret"></span></button>
							<ul class="dropdown-menu" style="text-align:left;">
								<li><a href="#" data-bind="click: $root.ScheduleJob"><i class="fa fa-clock-o"></i> Schedule Job</a></li>
								<li><a href="#" data-bind="click: $root.SaveInputProfile"><i class="fa fa-save"></i> Save Input Profile</a></li>
							</ul>
						</div>
					</div>
    			</div>
    			
    		</div>
    	</div>
    </div>
{% endblock %}

{% block scripts %}	
	<!-- SCRIPTS -AT THE BOTTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script src="{{ STATIC_URL }}lib/jquery-1.10.2.js"></script>
	<script src="{{ STATIC_URL }}lib/jquery-migrate.min.js"></script>
	<script src="{{ STATIC_URL }}lib/jquery-ui-1.11.2.jms/jquery-ui.js"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script src="{{ STATIC_URL }}lib/bootstrap/binary/js/bootstrap.min.js"></script>
	<!-- METISMENU SCRIPTS -->
	<script src="{{ STATIC_URL }}lib/bootstrap/binary/js/jquery.metisMenu.js"></script>
	<!-- KNOCKOUT SCRIPTS -->
	<script src="{{ STATIC_URL }}lib/knockout-3.0.0.js"></script>
	<!-- SAMMY SCRIPTS -->
	<script src="{{ STATIC_URL }}lib/sammy.js"></script>
	<!-- CUSTOM SCRIPTS -->
	<script src="{{ STATIC_URL }}lib/custom/JMS/custom.js"></script>
	<script src="{{ STATIC_URL }}lib/custom/question.js"></script>
	<script src="{{ STATIC_URL }}lib/custom/JMS/workflow.js"></script>
{% endblock %}