Django==1.7.1
django-cors-headers==0.13
djangorestframework==2.4.4
ecdsa==0.13
funcsigs==1.0.2
impersonator==0.1.0
lxml==3.4.1
mock==2.0.0
MySQL-python==1.2.5
pbr==4.2.0
requests==2.4.3
six==1.11.0
zope.interface==4.1.2
